@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
    color: black;
    background: linear-gradient(-90deg, #ffffff, #57f5f5, #3eafaf, #1c5050 );
    width: 100%;
    background-size: 200%, 200%;
    position: relative;
    animation: change 14s ease-in-out infinite;
    
    
}

nav{
    
  color: black;
  background: linear-gradient(-45deg, #ffffff, #57f5f5, #3eafaf, #1c5050 );
  height: 80px;
  width: 100%;
  background-size: 200%, 200%;
  position: relative;
  animation: change 12s ease-in-out infinite;
}
label.logo{
  
  padding:10px;
  margin-left: 20px;
}


nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
nav ul li a{
  color: #00221b;
  font-weight: 500;
  font-size: 18px;
  padding: 7px 10px;
  border-radius: 3px;
  /* text-transform: uppercase; */
  font-family: 'Poppins', sans-serif;
}
a.active,a:hover{
  background: #ffffff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
  
}
#check{
  display: none;
}

@media (max-width: 975px){
  label.logo{
        padding-left: 10px;
        width: 70%;
  }
  nav ul li a{
    font-size: 15px;
  }
}



@media (max-width: 912px){
  .checkbtn{
    display: block;
    margin-right: 30px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 17px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }

  label.logo{
    
    padding:10px;
    margin-left: 10px;
  }

  nav label img {
    margin-top: 5px;
    max-width: 300px;
    
  }
}

@media (max-width: 500px){
   
  nav label img{
  margin-top: 15px;
    max-width: 230px;
  }

}


@keyframes change {

    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}